---
const { wordmark, icon } = Astro.props;
---

<div class="brand" aria-label="Gearbox">
  <span class="brand-logo">
    <img class="brand-wordmark-image" src={wordmark} alt="Gearbox" />
    <img class="brand-icon-image" src={icon} alt="" />
  </span>
</div>
